:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --color-cords: #212121;
  --color-line: #ffffff;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --hero-btn-color: #188ce8;
  --footer-bg-color: #2f303a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--color-cords);
}
/* ===========index=========== */

/* ===========footer=========== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio-color {
  color: var(--logo-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-cords);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.model-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.model-btn:hover,
.model-btn:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* ===========and footer=========== */

/* ===========hero=========== */
.background-color {
  background: var(--hero-bg-color);
  box-sizing: border-box;
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-line);
}

/* .hero-btn */

.hero-btn {
  background: var(--hero-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-line);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
}
/* ===========and hero=========== */

/* ===========advantages=========== */
.advantages-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cords);
}
.advantages-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ===========and advantages=========== */

/* ===========img-heading=========== */
.img-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-cords);
}
/* =========== and img-heading=========== */

/* =========== cards=========== */
.fon {
  background: var(--footer-bg-color);
}

.name-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-cords);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* =========== and cards=========== */

/* =========== footer=========== */

.bg-address {
  font-style: normal;
}

.studio-color-wite {
  color: var(--color-line);
}
.map-color-white {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-line);
}
.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ===========and footer=========== */

/* ===========and index=========== */

/* ===========portfolio=========== */

/* ===========main=========== */
.but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-cords);
}
.but:hover,
.but:focus {
  color: var(--color-line);
  background: var(--accent-color);
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-cords);
}
.specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ===========and main=========== */

/* ===========and portfolio=========== */
